VITE_FIREBASE_API_KEY=AIzaSyA_RfaDBALOcw80DNgwrNccG9IL-aGTNTM
VITE_FIREBASE_AUTH_DOMAIN=abu-fragrance.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=abu-fragrance
VITE_FIREBASE_STORAGE_BUCKET=abu-fragrance.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=92682582866
VITE_FIREBASE_APP_ID=1:92682582866:web:df3f7c0ed3bbb6af7d588b

VITE_CLOUDINARY_CLOUD_NAME=dsluz70xf
VITE_CLOUDINARY_UPLOAD_PRESET=abu_fragrance_upload
