[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  # API Proxy for EcoTrack (forces 200 rewrite)
  from = "/api/ecotrack/*"
  to = "https://anderson-ecommerce.ecotrack.dz/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
